/* TODO Add site wide styles */
* {
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    transition: color .2s;
}

a, a:hover {
    color: #1dbf73;
}