.main-order-confirmation-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    max-width: 1304px;
    padding: 32px 24px 0;
    background-color: #FFF;
    color: #62646a;
    text-align: center;
}

.order-confirmation-header {
    font-size: 28px;
    color: #404145;
    font-weight: 700;
    padding: 0px 0px 16px;
}

.order-detail-section {
    margin-bottom: 12px;
}

.order-detail-label {
    font-size: 21px;
    line-height: 21px;
    margin-right: 8px;
    margin-bottom: 3px;
}

.order-detail {
    font-size: 18px;
    line-height: 21px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.order-detail-container {
    border: #19a463 3px solid;
}

.order-cancel-btn, .cancel-cancel-btn, .order-update-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 12px 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 70ms cubic-bezier(.75,0,.25,1);
    background-color: #1dbf73;
    color: #fff;
    margin-top: 16px;
}

.order-cancel-btn:hover, .cancel-cancel-btn:hover, .order-update-btn:hover {
    background: #19a463;
}

.cancel-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

.cancel-confirm-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 12px 24px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 70ms cubic-bezier(.75,0,.25,1);
    background-color: #bf1d1d;
    color: #fff;
    margin-top: 16px;
}

.cancel-confirm-btn:hover {
    background: #a41919;
}